html, body {
    height: 100%;
    margin: 0;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.qr-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: fit-content;
    box-shadow: 2px 2px 5px grey;
}

.qr-box:hover {
    background-color: yellow;
}

.bold-header {
    font-weight: 700;
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.text {
    font-weight: 400;
    color: hsl(216, 73%, 35%);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.qr-code {
    aspect-ratio: 1/1;
    width: 80%; 
    border-radius: 20px;
    margin-top: 20px;
}

@media (max-width:375px) {
    .qr-box {
        width: 90%;
    }
}
