html, body {
    height: 100%;
    margin: 0;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.qr-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.bold-header {
    font-weight: 700;
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.text {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.qr-code-div {
    border-radius: 10px;
}

.qr-code {
    display: auto;
    width: 100%;
    height: 80%; 
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;    
}

@media (max-width=375px) {
    .qr-box {
        width: 80%;
    }
}
